<div class="nested-fields" >
  <%= f.input :food_item_id, collection: FoodItem.all, input_html: {id: "food_item"} %>
  <%= f.input :price, input_html: {id: "food_item_price"} %>
  <%= link_to_remove_association "remove meal", f %>
</div>
