<% Order.all.each do |order| %>
<hr />
  <% order.order_meals.each do |order_meal| %>
  <p><%= order_meal.meal.food_item.name %></p>
  <p><%= order_meal.meal.food_item.price %></p>
<% end %>
<hr />
<% end %>
